@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.intro {
  color: white;
  background: #171717;
  padding: 20px 5%;
  font-family: 'Roboto', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
}

.mediaIcons, .searchBar {
  display: flex;
  align-items: center;
}

i {
  font-size: 150%;
  height: 100%;
  padding: 5px;
}

.searchBar>* {
  padding: 10px;
}

nav {
  display: flex;
  padding: 20px 20%;
  justify-content: space-around;
}

.intro section {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "left right1" "left right2";
}

.intro section .left {
  grid-area: left;
}

.intro section>div {
  position: relative;
}

.intro section>div>img {
  display: block;
  width: 100%;
}

.intro section .info {
  position: absolute;
  top: 45%;
  left: 5%;
  right: 15%;
  bottom: 5%;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.info .title {
  text-transform: capitalize;
}

.details {
  display: flex;
  align-items: center;
}

.details>* {
  margin-right: 10px;
}

.details img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.middle {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 30px 10%;
  background: #F2F2F2;
  grid-gap: 30px;
}

.middle .post>img {
  display: block;
  width: 100%;
}

.post {
  margin-bottom: 30px;
  background: white;
}

.post .main {
  padding: 20px;
}

.post .main .date {
  margin-bottom: 10px;
}

.post .main .title {
  text-transform: capitalize;
  margin-bottom: 20px;
}

.post .main .postInfo {
  margin-bottom: 30px;
}

.post .main .category {
  margin-bottom: 20px;
  color: #417CAF;
  s
}

.postHead {
  padding: 20px;
}

.postHead img {
  display: block;
  margin: 0 auto;
  opacity: 0.5;
}

.postHead>* {
  margin-bottom: 30px;
  text-align: center;
}

.numbering {
  padding: 50px 30%;
  display: flex;
  justify-content: space-around;
}

.middle2 {
  display: grid;
  padding: 50px 5%;
  grid-template-columns: 3fr 2fr;
  grid-gap: 30px;
}

.middle2 .left {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 1fr 1fr;
  grid-row: auto 1fr;
  grid-template-areas: "title title" "left1 left2";
}


.left .left1 .article {

}
